#menu {
    width: 100%; /* Comprimento do menu */
    margin: 15px ; /* altura de cima 30px */
    list-style: none; /* retirar ícones da lista */
    padding: 0; /* retirar espaço interno */
  }
  
  #menu li {
    float: left; /*elem. flutuante, c/ alinhamento esquerda*/
    width: 255px; /*comprimento*/
    height: 30px; /*largura*/
    background-color: #8B0000; /*cor de fundo*/
    color: #ffffff; /*cor do texto*/
    position: relative; /*posição relativa c/elem.container*/
    border: 1px solid black; /*borda (só p/ entendimento)*/
    text-align: center; /*texto centralizado na horizontal*/
    padding-top: 14px; /*centralização vertical manual*/
  }
  
  #menu a {
    color: #ffffff; /*cor do texto*/
    border: 1px solid black; /*borda*/
    text-transform: uppercase; /*todas MAIÚSCULAS*/
    text-decoration: none; /*limpa estilos link*/
  }
  
  /*:hover: quando passar o mouse por cima*/
  #menu li:hover {
    background-color: #21b058; /*muda cor fundo de <li>*/
  }
  #menu li:hover > a {
    color: white; /*muda cor texto do <a>*/
  }
  
  #menu ul {
    /* elementos ul dentro do #menu */
    visibility: hidden; /*invisível*/
  }
  /*quando o mouse estiver sobre o item (muda <ul>)*/
  #menu li:hover > ul {
    visibility: visible;
  }
  
  #menu ul {
    /* elementos ul dentro do #menu */
    visibility: hidden; /* invisível */
    margin: 0; /* limpa espaço externo */
    padding: 0; /* limpa espaço interno */
    list-style: none; /*limpa ícones dos itens */
    top: 45px; /* posiciona top=45px */
    float: left; /* flutuante */
    position: absolute; /* posição absoluta */
  }
  
  #menu ul li {
    width: 250px; /* comprimento */
    text-align: left; /* alinhamento à esquerda */
    padding-left: 20px; /* espaçamento à esquerda*/
  }
  
  #menu ul ul {
    /* elementos ul dentro do submenu */
    padding: 0;
    top: 0px;
    left: 271px;
    list-style: none;
    float: left;
    position: absolute;
  }
  
  #menu li , #menu a {
      border: none; /* tirar borda*/
  }

/*--------------------------------------------------------------------------*/
.fundo{
    background-image: url('img/sol.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.astronauta{
    margin-top: 50px;
    color: #5d17a3;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

.color{
    background-color: #C0C0C0;
    margin: 80px;
    height: 650px;
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
}

.hello{
    background-color: #ffff00;
}

.pipoca{
    width: 100px;
    height: 100px;
}

#parag01 {
    border: 2px solid #008B8B ;
    margin: 30px;
    font-size: 30px;
}

#parag01::first-letter{
  color: #008B8B;
  font-size: 100px;
}

#h1:hover{
  color: #8B0000;
}

#a:visited{
  color: gray;
}